body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 10rem;
    padding: 1.25rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: .5rem;
}

button:hover {
    background-color: #0056b3;
}
